body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #595856;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #262521;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: aliceblue;
    color: #262521;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ddd;
}

.weather-result {
    margin-top: 15px;
    font-size: 18px;
}